We will start with the following two important data structures of Pandas:

Series and
DataFrame

Series

 A Series is a one-dimensional labelled array-like object. 
It is capable of holding any data type, e.g. integers, floats, strings, Python objects, and so on.
It can be seen as a data structure with two arrays: one functioning as the index, 
    i.e. the labels, and the other one contains the actual data.

In [4]:
pip install pdpipe

Collecting pdpipe
  Downloading pdpipe-0.3.2-py3-none-any.whl (119 kB)
     -------------------------------------- 120.0/120.0 kB 2.4 MB/s eta 0:00:00
Collecting birch>=0.0.34
  Downloading birch-0.0.35-py3-none-any.whl (15 kB)
Collecting strct
  Downloading strct-0.0.32-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pandas>=0.18.0 in c:\users\sindhu\anaconda3\lib\site-packages (from pdpipe) (1.4.4)
Collecting skutil>=0.0.15
  Downloading skutil-0.0.18-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: sortedcontainers in c:\users\sindhu\anaconda3\lib\site-packages (from pdpipe) (2.4.0)
Requirement already satisfied: tqdm in c:\users\sindhu\anaconda3\lib\site-packages (from pdpipe) (4.64.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sindhu\anaconda3\lib\site-packages (from pandas>=0.18.0->pdpipe) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sindhu\anaconda3\lib\site-packages (from pandas>=0.18.0->pdpipe) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sindhu\anaconda3\lib\site-packages (from pandas>=0.18.0->pdpipe) (2022.1)
Collecting decore
  Downloading decore-0.0.1.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: colorama in c:\users\sindhu\anaconda3\lib\site-packages (from tqdm->pdpipe) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\users\sindhu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.18.0->pdpipe) (1.16.0)
Building wheels for collected packages: decore
  Building wheel for decore (setup.py): started
  Building wheel for decore (setup.py): finished with status 'done'
  Created wheel for decore: filename=decore-0.0.1-py2.py3-none-any.whl size=4200 sha256=6c9297afb4f526ca643f24b2c98eca00ca94c55ad954640614785411182cf024
  Stored in directory: c:\users\sindhu\appdata\local\pip\cache\wheels\d4\39\be\a5fb8089ae58177381dc9ef9ad4fcccedcc0e8ed40ee9213f5
Successfully built decore
Installing collected packages: decore, strct, skutil, birch, pdpipe
Successfully installed birch-0.0.35 decore-0.0.1 pdpipe-0.3.2 skutil-0.0.18 strct-0.0.32
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import pdpipe as pdp
df = pd.read_csv("data.csv")
df

C:\Users\Sindhu\anaconda3\lib\site-packages\pdpipe\col_generation.py:12: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [6]:
drop_pulse = pdp.ColDrop('Pulse')
sindhu = drop_pulse(df)
sindhu

     Duration  Maxpulse  Calories
0          60       130     409.1
1          60       145     479.0
2          60       135     340.0
3          45       175     282.4
4          45       148     406.0
..        ...       ...       ...
164        60       140     290.8
165        60       145     300.0
166        60       145     310.2
167        75       150     320.4
168        75       150     330.4

[169 rows x 3 columns]

In [20]:
x=df.groupby('Pulse').max()
x

       Duration  Maxpulse  Calories
Pulse
80           30       120     240.9
83           20       107      50.3
85           30       120     250.4
90          180       130     800.4
92           60       118     243.0
93           90       128     604.1
95           45       130     270.0
97          150       131    1115.0
98           90       126     563.2
99           90       125     466.4
100         270       157    1729.0
101         180       127     600.1
102          60       136     380.3
103          60       147     340.0
104          60       134     379.3
105         150       140     873.4
106          60       136     345.3
107         150       138     816.0
108         300       160    1500.2
109         160       175     853.0
110         160       150    1034.4
111          60       151     400.0
112          60       146     361.9
113          45       138     308.0
114          60       151     415.0
115          60       145     318.0
116          60       141     443.0
117          60       148     479.0
118          60       151     486.0
119          60       169     336.7
120          75       150     320.4
121          60       146     450.7
122          45       149     335.4
123          80       152     643.1
124          15       139     124.2
125          75       150     330.4
129          45       103     242.0
130          60       101     300.0
136          60       175     470.2
137         210       184    1860.4
141          20       162     222.4
149          45       169     344.0
150          30       171     275.8
151          30       170     300.0
152          25       168     244.2
153          20       172     226.4
159          30       182     319.2

In [4]:
import pandas as pd
fruits = ['apples', 'oranges', 'cherries', 'pears']

S = pd.Series([20, 33, 52, 10], index=fruits)
S2 = pd.Series([17, 13, 31, 32], index=fruits)
S + S2
print("sum of S: ", sum(S))

sum of S:  115